<div class="col-10 offset-1 about">

  <h1>About Splurty</h1>

  <p>

    Splurty was built by Andrew Post.  A web developer on a mission to build an MVP for a new business venture.

  </p>

  <br />

  <p>

    He has been learning to code through the UC Berkeley coding program. 

  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Andrew Post</h2>
      <br />
      <p>
        Andrew Post is building a web application that lets social media users become brand ambassadors in just a few clicks. 
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />